<div class="newspaper-page">
  <%= render "masthead", edition: @edition %>

  <div class="front-page-grid">
    <% @stories.each do |story| %>
      <%= render StoryComponent.new(story: story) %>
    <% end %>
  </div>
</div>
