<h1>Newspapers</h1>

  <% @newspapers.each do |newspaper| %>
    <h2><%= newspaper.name %></h2>
    <ul>
      <% newspaper.editions.each do |edition| %>
        <li><%= link_to edition.label, newspaper_edition_path(newspaper, edition) %></li>
      <% end %>
    </ul>
  <% end %>
